In [2]:
import pandas as pd
import geopandas as gpd

### Load tha grid

In [7]:
grid_gdf = gpd.read_file('Data/grid/grid_geometry.shp')

#### Verisk

In [4]:
land_verisk = gpd.read_file('Data/land_cover/land_verisk.gpkg')
land_verisk

,date_created,fid,high_level_landuse,landuse_code,landuse_text,luid,geometry
0,230619,1593731,Natural,4.1,Deciduous woodland,FC_101869,"POLYGON ((392220.000 284550.000, 392220.000 28..."
1,230619,1685710,Natural,4.1,Deciduous woodland,GC_45797,"POLYGON ((420240.000 285330.000, 420240.000 28..."
2,230619,1685712,Natural,4.1,Deciduous woodland,GC_45799,"POLYGON ((426510.000 285590.000, 426510.000 28..."
3,230619,1685718,Managed,7.1,Recreational land,GC_45805,"POLYGON ((400350.000 285790.000, 400380.000 28..."
4,230619,1685741,Agricultural,3.1,Agriculture - mainly crops,GC_45828,"POLYGON ((419810.000 285410.000, 419810.000 28..."
...,...,...,...,...,...,...,...
38062,230619,1774776,Agricultural,3.1,Agriculture - mainly crops,GC_134863,"POLYGON ((415050.000 294010.000, 415070.000 29..."
38063,230619,1774779,Man Made,5.1,Principle Transport,GC_134866,"POLYGON ((420030.000 274120.000, 420060.000 27..."
38064,230619,1774788,Man Made,5.1,Principle Transport,GC_134875,"POLYGON ((439660.000 284990.000, 439670.000 28..."
38065,230619,1774814,Agricultural,3.1,Agriculture - mainly crops,GC_134901,"POLYGON ((418880.000 291190.000, 418880.000 29..."
38066,230619,1774819,Agricultural,3.1,Agriculture - mainly crops,GC_134906,"POLYGON ((439310.000 274120.000, 439310.000 27..."

In [8]:
land_verisk_f = gpd.overlay(grid_gdf, land_verisk, how='intersection')
land_verisk_f['area'] = land_verisk_f['geometry'].area
land_verisk_f['total_area'] = 500 * 500

land_verisk_f['land_use_percentage'] = (land_verisk_f['area'] / land_verisk_f['total_area']) * 100

land_verisk_f = land_verisk_f.groupby(['grid_id', 'landuse_text'])['land_use_percentage'].sum()
land_verisk_f = land_verisk_f.unstack(fill_value=0).reset_index()
land_verisk_f.columns.name = None

land_verisk_f

/var/folders/rv/j_vzprd56j5fpq5_0hvsy8v80000gn/T/ipykernel_3040/2495811990.py:1: UserWarning: `keep_geom_type=True` in overlay resulted in 15 dropped geometries of different geometry types than df1 has. Set `keep_geom_type=False` to retain all geometries
  land_verisk_f = gpd.overlay(grid_gdf, land_verisk, how='intersection')

,grid_id,Agriculture - mainly crops,Agriculture - mixed use,Business parks,Coniferous and undifferentiated woodland,Deciduous woodland,Farms,Glasshouses,High density residential with retail and commercial sites,Industrial areas,...,Low density residential with amenities (suburbs and small villages / hamlets),Medium density residential with high streets and amenities,Mining and spoil areas,Open or heath and moor land,Orchards,Principle Transport,Recreational land,Retail parks,Urban centres - mainly commercial/retail with residential pockets,Wetlands
0,0_51,97.36,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.000000e+00,...,1.56,0.000000e+00,0.0,0.0,0.0,1.343549e-09,0.00,0.0,0.0,0.0
1,0_52,59.36,0.00,0.0,0.0,1.60,0.00,0.0,0.00,0.000000e+00,...,29.52,3.960000e+00,0.0,0.0,0.0,5.560000e+00,0.00,0.0,0.0,0.0
2,0_53,56.88,0.00,0.0,0.0,0.40,0.12,0.0,0.00,0.000000e+00,...,40.48,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.00,0.0,0.0,0.0
3,100_10,15.44,0.00,0.0,0.0,37.56,0.00,0.0,0.00,0.000000e+00,...,5.20,1.789303e-09,0.0,0.0,0.0,9.840000e+00,31.96,0.0,0.0,0.0
4,100_11,21.32,0.00,0.0,0.0,10.28,0.00,0.0,3.68,0.000000e+00,...,17.16,3.192000e+01,0.0,0.0,0.0,6.920000e+00,8.32,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3729,9_59,0.00,0.00,0.0,0.0,13.16,0.00,0.0,8.24,0.000000e+00,...,21.88,1.996000e+01,0.0,0.0,0.0,0.000000e+00,36.76,0.0,0.0,0.0
3730,9_60,0.00,0.00,0.0,0.0,2.24,0.00,0.0,0.00,0.000000e+00,...,0.36,7.764000e+01,0.0,0.0,0.0,0.000000e+00,1.08,0.0,0.0,0.0
3731,9_61,1.44,0.00,0.0,0.0,5.08,0.00,0.0,0.00,0.000000e+00,...,16.36,2.872000e+01,0.0,0.0,0.0,0.000000e+00,0.44,0.0,0.0,0.0
3732,9_62,5.12,0.00,0.0,0.0,7.32,0.00,0.0,1.96,2.719928e-09,...,6.80,4.696000e+01,0.0,0.0,0.0,0.000000e+00,30.80,0.0,0.0,0.0
3733,9_63,22.68,0.12,0.0,0.0,8.28,0.00,0.0,0.00,6.152000e+01,...,1.08,1.800000e+00,0.0,0.0,0.0,0.000000e+00,2.80,0.0,0.0,0.0

In [152]:
output_file_path = 'Data/land_cover/results/land_verisk.csv'
land_verisk_f.to_csv(output_file_path, index=False, encoding='utf-8')

#### Corine 2018 vector

In [67]:
land_corine = gpd.read_file('Data/land_cover/corine_clip/U2018_CLC2018_V2020_20u1.shp')
land_corine = land_corine.to_crs('EPSG:27700')
land_corine = land_corine.drop_duplicates()

land_corine

,OBJECTID,Code_18,Remark,Area_Ha,ID,Shape_Leng,Shape_Area,geometry
0,1569824,111,None,2.262873e+02,EU_1569824,1.039107e+04,2.262873e+06,"POLYGON ((434060.759 281271.159, 434138.964 28..."
1,1569827,111,None,5.451204e+01,EU_1569827,3.444423e+03,5.451204e+05,"POLYGON ((436249.950 292550.057, 436483.934 29..."
2,1569828,111,None,4.716700e+02,EU_1569828,1.229874e+04,4.716700e+06,"POLYGON ((406812.845 287890.187, 406833.717 28..."
3,1569829,111,None,1.286405e+02,EU_1569829,7.865725e+03,1.286405e+06,"POLYGON ((394968.649 290799.161, 395051.262 29..."
4,1569830,111,None,1.158835e+02,EU_1569830,6.061519e+03,1.158835e+06,"POLYGON ((399683.262 292156.593, 399819.933 29..."
...,...,...,...,...,...,...,...,...
1046,1625571,512,None,1.004947e+02,EU_1625571,6.665282e+03,1.004947e+06,"POLYGON ((404039.530 307726.122, 404082.436 30..."
1047,1625572,512,None,2.960400e+01,EU_1625572,2.845593e+03,2.960400e+05,"POLYGON ((385386.854 306238.103, 385442.841 30..."
1048,1625582,512,None,3.922768e+01,EU_1625582,2.924718e+03,3.922768e+05,"POLYGON ((393824.077 310043.220, 393746.260 31..."
1049,1625584,512,None,6.385081e+01,EU_1625584,4.189651e+03,6.385081e+05,"POLYGON ((387009.414 310053.251, 387023.865 31..."
1050,2364706,211,None,3.737693e+06,EU_2364706,2.591764e+07,1.032466e+10,"MULTIPOLYGON (((419962.088 261981.650, 419950...."

In [69]:
corine_label = pd.read_excel('Data/land_cover/corine_clip/corine_label.xlsx')
corine_label

,GRID_CODE,CLC_CODE,LABEL1,LABEL2,LABEL3,RGB
0,1,111,Artificial surfaces,Urban fabric,Continuous urban fabric,230-000-077
1,2,112,Artificial surfaces,Urban fabric,Discontinuous urban fabric,255-000-000
2,3,121,Artificial surfaces,"Industrial, commercial and transport units",Industrial or commercial units,204-077-242
3,4,122,Artificial surfaces,"Industrial, commercial and transport units",Road and rail networks and associated land,204-000-000
4,5,123,Artificial surfaces,"Industrial, commercial and transport units",Port areas,230-204-204
5,6,124,Artificial surfaces,"Industrial, commercial and transport units",Airports,230-204-230
6,7,131,Artificial surfaces,"Mine, dump and construction sites",Mineral extraction sites,166-000-204
7,8,132,Artificial surfaces,"Mine, dump and construction sites",Dump sites,166-077-000
8,9,133,Artificial surfaces,"Mine, dump and construction sites",Construction sites,255-077-255
9,10,141,Artificial surfaces,"Artificial, non-agricultural vegetated areas",Green urban areas,255-166-255
10,11,142,Artificial surfaces,"Artificial, non-agricultural vegetated areas",Sport and leisure facilities,255-230-255
11,12,211,Agricultural areas,Arable land,Non-irrigated arable land,255-255-168
12,13,212,Agricultural areas,Arable land,Permanently irrigated land,255-255-000
13,14,213,Agricultural areas,Arable land,Rice fields,230-230-000
14,15,221,Agricultural areas,Permanent crops,Vineyards,230-128-000
15,16,222,Agricultural areas,Permanent crops,Fruit trees and berry plantations,242-166-077
16,17,223,Agricultural areas,Permanent crops,Olive groves,230-166-000
17,18,231,Agricultural areas,Pastures,Pastures,230-230-077
18,19,241,Agricultural areas,Heterogeneous agricultural areas,Annual crops associated with permanent crops,255-230-166
19,20,242,Agricultural areas,Heterogeneous agricultural areas,Complex cultivation patterns,255-230-077
20,21,243,Agricultural areas,Heterogeneous agricultural areas,"Land principally occupied by agriculture, with...",230-204-077
21,22,244,Agricultural areas,Heterogeneous agricultural areas,Agro-forestry areas,242-204-166
22,23,311,Forest and semi natural areas,Forests,Broad-leaved forest,128-255-000
23,24,312,Forest and semi natural areas,Forests,Coniferous forest,000-166-000
24,25,313,Forest and semi natural areas,Forests,Mixed forest,077-255-000
25,26,321,Forest and semi natural areas,Scrub and/or herbaceous vegetation associations,Natural grasslands,204-242-077
26,27,322,Forest and semi natural areas,Scrub and/or herbaceous vegetation associations,Moors and heathland,166-255-128
27,28,323,Forest and semi natural areas,Scrub and/or herbaceous vegetation associations,Sclerophyllous vegetation,166-230-077
28,29,324,Forest and semi natural areas,Scrub and/or herbaceous vegetation associations,Transitional woodland-shrub,166-242-000
29,30,331,Forest and semi natural areas,Open spaces with little or no vegetation,"Beaches, dunes, sands",230-230-230
30,31,332,Forest and semi natural areas,Open spaces with little or no vegetation,Bare rocks,204-204-204
31,32,333,Forest and semi natural areas,Open spaces with little or no vegetation,Sparsely vegetated areas,204-255-204
32,33,334,Forest and semi natural areas,Open spaces with little or no vegetation,Burnt areas,000-000-000
33,34,335,Forest and semi natural areas,Open spaces with little or no vegetation,Glaciers and perpetual snow,166-230-204
34,35,411,Wetlands,Inland wetlands,Inland marshes,166-166-255
35,36,412,Wetlands,Inland wetlands,Peat bogs,077-077-255
36,37,421,Wetlands,Maritime wetlands,Salt marshes,204-204-255
37,38,422,Wetlands,Maritime wetlands,Salines,230-230-255
38,39,423,Wetlands,Maritime wetlands,Intertidal flats,166-166-230
39,40,511,Water bodies,Inland waters,Water courses,000-204-242
40,41,512,Water bodies,Inland waters,Water bodies,128-242-230
41,42,521,Water bodies,Marine waters,Coastal lagoons,000-255-166
42,43,522,Water bodies,Marine waters,Estuaries,166-255-230
43,44,523,Water bodies,Marine waters,Sea and ocean,230-242-255
44,48,999,NODATA,NODATA,NODATA,NaN
45,49,990,UNCLASSIFIED,UNCLASSIFIED LAND SURFACE,UNCLASSIFIED LAND SURFACE,NaN
46,50,995,UNCLASSIFIED,UNCLASSIFIED WATER BODIES,UNCLASSIFIED WATER BODIES,230-242-255
47,255,990,UNCLASSIFIED,UNCLASSIFIED,UNCLASSIFIED,NaN

In [70]:
land_corine['Code_18'] = land_corine['Code_18'].astype(str)
corine_label['CLC_CODE'] = corine_label['CLC_CODE'].astype(str)

land_corine = land_corine.merge(corine_label, left_on = 'Code_18', right_on = 'CLC_CODE', how='left')
land_corine

,OBJECTID,Code_18,Remark,Area_Ha,ID,Shape_Leng,Shape_Area,geometry,GRID_CODE,CLC_CODE,LABEL1,LABEL2,LABEL3,RGB
0,1569824,111,None,2.262873e+02,EU_1569824,1.039107e+04,2.262873e+06,"POLYGON ((434060.759 281271.159, 434138.964 28...",1,111,Artificial surfaces,Urban fabric,Continuous urban fabric,230-000-077
1,1569827,111,None,5.451204e+01,EU_1569827,3.444423e+03,5.451204e+05,"POLYGON ((436249.950 292550.057, 436483.934 29...",1,111,Artificial surfaces,Urban fabric,Continuous urban fabric,230-000-077
2,1569828,111,None,4.716700e+02,EU_1569828,1.229874e+04,4.716700e+06,"POLYGON ((406812.845 287890.187, 406833.717 28...",1,111,Artificial surfaces,Urban fabric,Continuous urban fabric,230-000-077
3,1569829,111,None,1.286405e+02,EU_1569829,7.865725e+03,1.286405e+06,"POLYGON ((394968.649 290799.161, 395051.262 29...",1,111,Artificial surfaces,Urban fabric,Continuous urban fabric,230-000-077
4,1569830,111,None,1.158835e+02,EU_1569830,6.061519e+03,1.158835e+06,"POLYGON ((399683.262 292156.593, 399819.933 29...",1,111,Artificial surfaces,Urban fabric,Continuous urban fabric,230-000-077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046,1625571,512,None,1.004947e+02,EU_1625571,6.665282e+03,1.004947e+06,"POLYGON ((404039.530 307726.122, 404082.436 30...",41,512,Water bodies,Inland waters,Water bodies,128-242-230
1047,1625572,512,None,2.960400e+01,EU_1625572,2.845593e+03,2.960400e+05,"POLYGON ((385386.854 306238.103, 385442.841 30...",41,512,Water bodies,Inland waters,Water bodies,128-242-230
1048,1625582,512,None,3.922768e+01,EU_1625582,2.924718e+03,3.922768e+05,"POLYGON ((393824.077 310043.220, 393746.260 31...",41,512,Water bodies,Inland waters,Water bodies,128-242-230
1049,1625584,512,None,6.385081e+01,EU_1625584,4.189651e+03,6.385081e+05,"POLYGON ((387009.414 310053.251, 387023.865 31...",41,512,Water bodies,Inland waters,Water bodies,128-242-230
1050,2364706,211,None,3.737693e+06,EU_2364706,2.591764e+07,1.032466e+10,"MULTIPOLYGON (((419962.088 261981.650, 419950....",12,211,Agricultural areas,Arable land,Non-irrigated arable land,255-255-168

In [71]:
land_corine_1_f = gpd.overlay(grid_gdf, land_corine, how='intersection')
land_corine_1_f['area'] = land_corine_1_f['geometry'].area
land_corine_1_f['total_area'] = 500 * 500

land_corine_1_f['land_cover_percentage'] = (land_corine_1_f['area'] / land_corine_1_f['total_area']) * 100

land_corine_1_f = land_corine_1_f.groupby(['grid_id', 'LABEL1'])['land_cover_percentage'].sum()
land_corine_1_f = land_corine_1_f.unstack(fill_value=0).reset_index()
land_corine_1_f.columns.name = None

land_corine_1_f

,grid_id,Agricultural areas,Artificial surfaces,Forest and semi natural areas,Water bodies
0,0_51,100.000000,0.000000,0.0,0.0
1,0_52,68.929306,31.070694,0.0,0.0
2,0_53,56.548633,43.451367,0.0,0.0
3,100_10,94.937310,5.062690,0.0,0.0
4,100_11,47.371040,52.628960,0.0,0.0
...,...,...,...,...,...
3729,9_59,0.000000,100.000000,0.0,0.0
3730,9_60,0.000000,100.000000,0.0,0.0
3731,9_61,0.000000,100.000000,0.0,0.0
3732,9_62,0.000000,100.000000,0.0,0.0
3733,9_63,0.000000,100.000000,0.0,0.0

In [72]:
land_corine_2_f = gpd.overlay(grid_gdf, land_corine, how='intersection')
land_corine_2_f['area'] = land_corine_2_f['geometry'].area
land_corine_2_f['total_area'] = 500 * 500

land_corine_2_f['land_cover_percentage'] = (land_corine_2_f['area'] / land_corine_2_f['total_area']) * 100

land_corine_2_f = land_corine_2_f.groupby(['grid_id', 'LABEL2'])['land_cover_percentage'].sum()
land_corine_2_f = land_corine_2_f.unstack(fill_value=0).reset_index()
land_corine_2_f.columns.name = None

land_corine_2_f

,grid_id,Arable land,"Artificial, non-agricultural vegetated areas",Forests,Heterogeneous agricultural areas,"Industrial, commercial and transport units",Inland waters,"Mine, dump and construction sites",Pastures,Scrub and/or herbaceous vegetation associations,Urban fabric
0,0_51,100.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000
1,0_52,68.929306,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,31.070694
2,0_53,56.548633,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,43.451367
3,100_10,66.177817,0.000000,0.0,0.0,0.000000,0.0,0.0,28.759493,0.0,5.062690
4,100_11,7.310592,0.000000,0.0,0.0,0.000000,0.0,0.0,40.060448,0.0,52.628960
...,...,...,...,...,...,...,...,...,...,...,...
3729,9_59,0.000000,56.877851,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,43.122149
3730,9_60,0.000000,15.504023,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,84.495977
3731,9_61,0.000000,52.340888,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,47.659112
3732,9_62,0.000000,40.684757,0.0,0.0,24.361378,0.0,0.0,0.000000,0.0,34.953866
3733,9_63,0.000000,0.000000,0.0,0.0,88.580045,0.0,0.0,0.000000,0.0,11.419955

In [153]:
output_file_path = 'Data/land_cover/results/land_corine_1.csv'
land_corine_1_f.to_csv(output_file_path, index=False, encoding='utf-8')

output_file_path = 'Data/land_cover/results/land_corine_2.csv'
land_corine_2_f.to_csv(output_file_path, index=False, encoding='utf-8')

In [74]:
land_corine_t = gpd.read_file('Data/land_cover/corine_NUT/U2018_CLC2018_V2020_20u1.shp')
land_corine_t = land_corine_t.to_crs('EPSG:27700')
land_corine_t = land_corine_t.drop_duplicates()

land_corine_t

,OBJECTID,Code_18,Remark,Area_Ha,ID,Shape_Leng,Shape_Area,geometry
0,1569828,111,None,4.716700e+02,EU_1569828,1.229874e+04,4.716700e+06,"POLYGON ((406812.845 287890.187, 406833.717 28..."
1,1569829,111,None,1.286405e+02,EU_1569829,7.865725e+03,1.286405e+06,"POLYGON ((394968.649 290799.161, 395051.262 29..."
2,1569830,111,None,1.158835e+02,EU_1569830,6.061519e+03,1.158835e+06,"POLYGON ((399683.262 292156.593, 399819.933 29..."
3,1569836,111,None,1.887262e+02,EU_1569836,6.557130e+03,1.887262e+06,"POLYGON ((401448.538 297924.629, 401330.366 29..."
4,1569837,111,None,2.153208e+02,EU_1569837,9.917120e+03,2.153208e+06,"POLYGON ((391106.249 298893.361, 391437.929 29..."
...,...,...,...,...,...,...,...,...
329,1625461,512,None,3.290984e+01,EU_1625461,2.481994e+03,3.290984e+05,"POLYGON ((423556.987 282421.421, 423539.942 28..."
330,1625471,512,None,4.929351e+01,EU_1625471,3.166580e+03,4.929351e+05,"POLYGON ((399954.194 280657.699, 399922.473 28..."
331,1625495,512,None,2.581430e+01,EU_1625495,2.538387e+03,2.581430e+05,"POLYGON ((404521.064 287167.614, 404602.094 28..."
332,2364706,211,None,3.737693e+06,EU_2364706,2.591764e+07,1.032466e+10,"MULTIPOLYGON (((430362.279 274203.744, 430361...."
333,1569824,111,None,2.262873e+02,EU_1569824,1.039107e+04,2.262873e+06,"POLYGON ((434060.759 281271.159, 434138.964 28..."

In [75]:
land_corine_t['Code_18'] = land_corine_t['Code_18'].astype(str)
corine_label['CLC_CODE'] = corine_label['CLC_CODE'].astype(str)

land_corine_t = land_corine_t.merge(corine_label, left_on = 'Code_18', right_on = 'CLC_CODE', how='left')
land_corine_t

,OBJECTID,Code_18,Remark,Area_Ha,ID,Shape_Leng,Shape_Area,geometry,GRID_CODE,CLC_CODE,LABEL1,LABEL2,LABEL3,RGB
0,1569828,111,None,4.716700e+02,EU_1569828,1.229874e+04,4.716700e+06,"POLYGON ((406812.845 287890.187, 406833.717 28...",1,111,Artificial surfaces,Urban fabric,Continuous urban fabric,230-000-077
1,1569829,111,None,1.286405e+02,EU_1569829,7.865725e+03,1.286405e+06,"POLYGON ((394968.649 290799.161, 395051.262 29...",1,111,Artificial surfaces,Urban fabric,Continuous urban fabric,230-000-077
2,1569830,111,None,1.158835e+02,EU_1569830,6.061519e+03,1.158835e+06,"POLYGON ((399683.262 292156.593, 399819.933 29...",1,111,Artificial surfaces,Urban fabric,Continuous urban fabric,230-000-077
3,1569836,111,None,1.887262e+02,EU_1569836,6.557130e+03,1.887262e+06,"POLYGON ((401448.538 297924.629, 401330.366 29...",1,111,Artificial surfaces,Urban fabric,Continuous urban fabric,230-000-077
4,1569837,111,None,2.153208e+02,EU_1569837,9.917120e+03,2.153208e+06,"POLYGON ((391106.249 298893.361, 391437.929 29...",1,111,Artificial surfaces,Urban fabric,Continuous urban fabric,230-000-077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,1625461,512,None,3.290984e+01,EU_1625461,2.481994e+03,3.290984e+05,"POLYGON ((423556.987 282421.421, 423539.942 28...",41,512,Water bodies,Inland waters,Water bodies,128-242-230
330,1625471,512,None,4.929351e+01,EU_1625471,3.166580e+03,4.929351e+05,"POLYGON ((399954.194 280657.699, 399922.473 28...",41,512,Water bodies,Inland waters,Water bodies,128-242-230
331,1625495,512,None,2.581430e+01,EU_1625495,2.538387e+03,2.581430e+05,"POLYGON ((404521.064 287167.614, 404602.094 28...",41,512,Water bodies,Inland waters,Water bodies,128-242-230
332,2364706,211,None,3.737693e+06,EU_2364706,2.591764e+07,1.032466e+10,"MULTIPOLYGON (((430362.279 274203.744, 430361....",12,211,Agricultural areas,Arable land,Non-irrigated arable land,255-255-168
333,1569824,111,None,2.262873e+02,EU_1569824,1.039107e+04,2.262873e+06,"POLYGON ((434060.759 281271.159, 434138.964 28...",1,111,Artificial surfaces,Urban fabric,Continuous urban fabric,230-000-077

In [76]:
t = gpd.overlay(grid_gdf, land_corine_t, how='intersection')
t['area'] = t['geometry'].area
t['total_area'] = 500 * 500

t['land_cover_percentage'] = (t['area'] / t['total_area']) * 100

t = t.groupby(['grid_id', 'LABEL1'])['land_cover_percentage'].sum()
t = t.unstack(fill_value=0).reset_index()
t.columns.name = None

t

,grid_id,Agricultural areas,Artificial surfaces,Forest and semi natural areas,Water bodies
0,0_51,3.149835,0.000000,0.0,0.0
1,0_52,1.811878,23.936443,0.0,0.0
2,0_53,7.243889,26.370091,0.0,0.0
3,100_10,94.937310,5.062690,0.0,0.0
4,100_11,47.371040,52.628960,0.0,0.0
...,...,...,...,...,...
3684,9_59,0.000000,100.000000,0.0,0.0
3685,9_60,0.000000,100.000000,0.0,0.0
3686,9_61,0.000000,100.000000,0.0,0.0
3687,9_62,0.000000,100.000000,0.0,0.0
3688,9_63,0.000000,24.103255,0.0,0.0

#### Global raster 100m (2019)

In [119]:
import rasterio
from rasterio.features import shapes
import geopandas as gpd
from shapely.geometry import shape

# open geoTIFF document
with rasterio.open('Data/land_cover/global_clip.tif') as src:
    # load the band of data
    band = src.read(1)
    
    # transform the raster data into vector (polygon)
    gdf = (
        {'properties': {'raster_val': v}, 'geometry': s}
        for i, (s, v) in enumerate(shapes(band, transform = src.transform))
    )

    # transform the data into geodataframe
    geoms = list(gdf)
    land_global = gpd.GeoDataFrame.from_features(geoms)
    land_global.set_crs(src.crs, inplace=True)
    
land_global

                                                geometry  raster_val
0      POLYGON ((-2.19444 52.70139, -2.19444 52.70040...       125.0
1      POLYGON ((-2.16964 52.70139, -2.16964 52.70040...       126.0
2      POLYGON ((-2.16369 52.70139, -2.16369 52.70040...       126.0
3      POLYGON ((-2.14187 52.70139, -2.14187 52.70040...        30.0
4      POLYGON ((-2.11806 52.70139, -2.11806 52.70040...        30.0
...                                                  ...         ...
30037  POLYGON ((-1.27976 52.30655, -1.27976 52.30556...        50.0
30038  POLYGON ((-1.27778 52.30655, -1.27778 52.30556...        30.0
30039  POLYGON ((-1.27679 52.30655, -1.27679 52.30556...        40.0
30040  POLYGON ((-1.27381 52.30655, -1.27381 52.30556...        50.0
30041  POLYGON ((-1.81746 52.70139, -1.81746 52.69940...        40.0

[30042 rows x 2 columns]

In [120]:
land_global = land_global.to_crs('EPSG:27700')

In [121]:
global_label = pd.read_excel('Data/land_cover/global_label.xlsx')
global_label

    Map Code          Land cover class
0        111             Closed forest
1        112             Closed forest
2        113             Closed forest
3        114             Closed forest
4        115             Closed forest
5        116             Closed forest
6        121               Open forest
7        122               Open forest
8        123               Open forest
9        124               Open forest
10       125               Open forest
11       126               Open forest
12        20                 Shrubland
13        30     Herbaceous vegetation
14        90        Herbaceous wetland
15       100           Moss and lichen
16        60  Bare / sparse vegetation
17        40                  Cropland
18        50          Urban / built up
19        70              Snow and Ice
20        80    Permanent water bodies
21       200                  Open sea

In [122]:
land_global['raster_val'] = land_global['raster_val'].astype(float).astype(int).astype(str)
global_label['Map Code'] = global_label['Map Code'].astype(str)

land_global = land_global.merge(global_label, left_on = 'raster_val', right_on = 'Map Code', how='left')
land_global

,geometry,raster_val,Map Code,Land cover class
0,"POLYGON ((386957.642 311541.690, 386957.343 31...",125,125,Open forest
1,"POLYGON ((388633.594 311537.448, 388633.333 31...",126,126,Open forest
2,"POLYGON ((389035.822 311536.516, 389035.571 31...",126,126,Open forest
3,"POLYGON ((390510.660 311533.382, 390510.442 31...",30,30,Herbaceous vegetation
4,"POLYGON ((392119.575 311530.473, 392119.394 31...",30,30,Herbaceous vegetation
...,...,...,...,...
30037,"POLYGON ((449204.365 267847.529, 449205.462 26...",50,50,Urban / built up
30038,"POLYGON ((449339.645 267848.876, 449340.745 26...",30,30,Herbaceous vegetation
30039,"POLYGON ((449407.285 267849.551, 449408.387 26...",40,40,Cropland
30040,"POLYGON ((449610.206 267851.581, 449611.312 26...",50,50,Urban / built up
30041,"POLYGON ((412432.130 311539.492, 412432.688 31...",40,40,Cropland

In [123]:
land_global_f = gpd.overlay(grid_gdf, land_global, how='intersection')
land_global_f['area'] = land_global_f['geometry'].area
land_global_f['total_area'] = 500 * 500

land_global_f['land_cover_percentage'] = (land_global_f['area'] / land_global_f['total_area']) * 100

land_global_f = land_global_f.groupby(['grid_id', 'Land cover class'])['land_cover_percentage'].sum()
land_global_f = land_global_f.unstack(fill_value=0).reset_index()
land_global_f.columns.name = None

land_global_f

,grid_id,Bare / sparse vegetation,Closed forest,Cropland,Herbaceous vegetation,Herbaceous wetland,Open forest,Permanent water bodies,Shrubland,Urban / built up
0,0_51,0.0,0.000000,97.748397,0.000000,0.0,0.000000,0.0,0.0,2.251603
1,0_52,0.0,0.000000,57.993617,0.000000,0.0,8.901751,0.0,0.0,33.104632
2,0_53,0.0,0.000000,51.724844,5.040611,0.0,22.937652,0.0,0.0,20.295617
3,100_10,0.0,13.202183,2.980169,21.930482,0.0,44.166707,0.0,0.0,17.720913
4,100_11,0.0,0.000000,0.801845,0.148291,0.0,60.167293,0.0,0.0,38.882502
...,...,...,...,...,...,...,...,...,...,...
3729,9_59,0.0,0.000000,0.000000,0.000000,0.0,48.142364,0.0,0.0,51.857822
3730,9_60,0.0,0.000000,0.000000,1.242817,0.0,9.448386,0.0,0.0,89.308797
3731,9_61,0.0,0.000000,0.000000,10.303321,0.0,31.706516,0.0,0.0,57.990149
3732,9_62,0.0,0.000000,2.964206,0.000000,0.0,52.766351,0.0,0.0,44.269443
3733,9_63,0.0,0.000000,0.000000,18.618223,0.0,23.072644,0.0,0.0,58.309052

In [154]:
output_file_path = 'Data/land_cover/results/land_global.csv'
land_global_f.to_csv(output_file_path, index=False, encoding='utf-8')

#### CLC+ raster 10m (2021)

In [145]:
# open geoTIFF document
with rasterio.open('Data/land_cover/CLCplus/CLCplus_2018.tif') as src:
    # load the band of data
    band = src.read(1)
    
    # transform the raster data into vector (polygon)
    gdf = (
        {'properties': {'raster_val': v}, 'geometry': s}
        for i, (s, v) in enumerate(shapes(band, transform = src.transform))
    )

    # transform the data into geodataframe
    geoms = list(gdf)
    land_CLC = gpd.GeoDataFrame.from_features(geoms)
    land_CLC.set_crs(src.crs, inplace=True)
    
land_CLC

                                                 geometry  raster_val
0       POLYGON ((3516300.000 3350100.000, 3516300.000...         6.0
1       POLYGON ((3516310.000 3350100.000, 3516310.000...         3.0
2       POLYGON ((3516360.000 3350100.000, 3516360.000...         3.0
3       POLYGON ((3516370.000 3350090.000, 3516370.000...         6.0
4       POLYGON ((3516340.000 3350100.000, 3516340.000...         6.0
...                                                   ...         ...
233013  POLYGON ((3543940.000 3312980.000, 3543940.000...         6.0
233014  POLYGON ((3544000.000 3312960.000, 3544000.000...         6.0
233015  POLYGON ((3497590.000 3335240.000, 3497590.000...       255.0
233016  POLYGON ((3543970.000 3313060.000, 3543970.000...         3.0
233017  POLYGON ((3547660.000 3319110.000, 3547660.000...       255.0

[233018 rows x 2 columns]

In [146]:
land_CLC = land_CLC.to_crs('EPSG:27700')

In [147]:
CLC_label = pd.read_excel('Data/land_cover/CLCplus/CLCplus_label.xlsx')
CLC_label

    Raster coding                           Land cover class
0               1                                     Sealed
1               2                Woody â€“ needle leaved trees
2               3        Woody â€“ Broadleaved deciduous trees
3               4        Woody â€“ Broadleaved evergreen trees
4               5  Low-growing woody plants (bushes, shrubs)
5               6                       Permanent herbaceous
6               7                    Periodically herbaceous
7               8                         Lichens and mosses
8               9                Non- and sparsely-vegetated
9              10                                      Water
10             11                               Snow and ice
11            254                               outside area
12            255                                    No data

In [148]:
land_CLC['raster_val'] = land_CLC['raster_val'].astype(float).astype(int)

land_CLC = land_CLC.merge(CLC_label, left_on = 'raster_val', right_on = 'Raster coding', how='left')
land_CLC

,geometry,raster_val,Raster coding,Land cover class
0,"POLYGON ((403117.250 307201.595, 403118.904 30...",6,6,Permanent herbaceous
1,"POLYGON ((403127.130 307203.239, 403128.784 30...",3,3,Woody â€“ Broadleaved deciduous trees
2,"POLYGON ((403176.527 307211.460, 403178.181 30...",3,3,Woody â€“ Broadleaved deciduous trees
3,"POLYGON ((403188.061 307203.265, 403189.715 30...",6,6,Permanent herbaceous
4,"POLYGON ((403156.768 307208.172, 403158.422 30...",6,6,Permanent herbaceous
...,...,...,...,...
233013,"POLYGON ((436554.176 275217.289, 436555.826 27...",6,6,Permanent herbaceous
233014,"POLYGON ((436616.748 275207.463, 436618.397 27...",6,6,Permanent herbaceous
233015,"POLYGON ((387087.836 289505.886, 390770.678 26...",255,255,No data
233016,"POLYGON ((436570.620 275300.948, 436572.269 27...",3,3,Woody â€“ Broadleaved deciduous trees
233017,"POLYGON ((439217.805 281861.197, 439222.756 28...",255,255,No data

In [149]:
land_CLC_f = gpd.overlay(grid_gdf, land_CLC, how='intersection')
land_CLC_f['area'] = land_CLC_f['geometry'].area
land_CLC_f['total_area'] = 500 * 500

land_CLC_f['land_cover_percentage'] = (land_CLC_f['area'] / land_CLC_f['total_area']) * 100

land_CLC_f = land_CLC_f.groupby(['grid_id', 'Land cover class'])['land_cover_percentage'].sum()
land_CLC_f = land_CLC_f.unstack(fill_value=0).reset_index()
land_CLC_f.columns.name = None

land_CLC_f

,grid_id,"Low-growing woody plants (bushes, shrubs)",No data,Non- and sparsely-vegetated,Periodically herbaceous,Permanent herbaceous,Sealed,Water,Woody â€“ Broadleaved deciduous trees,Woody â€“ needle leaved trees
0,0_51,0.000000,96.613294,0.000000,0.000000,2.731694,0.655012,0.0,0.000000,0.000000
1,0_52,0.000000,73.212274,0.000000,0.000000,6.231418,13.723885,0.0,2.367978,4.464441
2,0_53,0.000000,65.415861,0.000000,5.396024,8.128055,9.913770,0.0,2.363702,8.782587
3,100_10,0.000000,0.000000,0.199858,0.000000,42.500887,16.319823,0.0,40.811316,0.168116
4,100_11,0.000000,0.000000,0.000000,0.000000,29.639747,43.519189,0.0,26.658265,0.182799
...,...,...,...,...,...,...,...,...,...,...
3729,9_59,0.000000,0.000000,0.000000,0.000000,35.360911,37.747607,0.0,25.330759,1.560724
3730,9_60,0.000000,0.000000,0.000000,0.000000,27.882708,63.247298,0.0,6.965837,1.904158
3731,9_61,0.000000,0.000000,0.000000,0.000000,43.120159,43.701958,0.0,12.044796,1.133088
3732,9_62,0.000000,0.000000,0.000000,0.000000,38.267086,43.258780,0.0,17.414688,1.059446
3733,9_63,0.079941,75.237099,0.000000,0.000000,4.526719,15.395458,0.0,4.720812,0.039970

In [150]:
land_CLC_f = land_CLC_f.drop(columns = 'No data')
land_CLC_f

,grid_id,"Low-growing woody plants (bushes, shrubs)",Non- and sparsely-vegetated,Periodically herbaceous,Permanent herbaceous,Sealed,Water,Woody â€“ Broadleaved deciduous trees,Woody â€“ needle leaved trees
0,0_51,0.000000,0.000000,0.000000,2.731694,0.655012,0.0,0.000000,0.000000
1,0_52,0.000000,0.000000,0.000000,6.231418,13.723885,0.0,2.367978,4.464441
2,0_53,0.000000,0.000000,5.396024,8.128055,9.913770,0.0,2.363702,8.782587
3,100_10,0.000000,0.199858,0.000000,42.500887,16.319823,0.0,40.811316,0.168116
4,100_11,0.000000,0.000000,0.000000,29.639747,43.519189,0.0,26.658265,0.182799
...,...,...,...,...,...,...,...,...,...
3729,9_59,0.000000,0.000000,0.000000,35.360911,37.747607,0.0,25.330759,1.560724
3730,9_60,0.000000,0.000000,0.000000,27.882708,63.247298,0.0,6.965837,1.904158
3731,9_61,0.000000,0.000000,0.000000,43.120159,43.701958,0.0,12.044796,1.133088
3732,9_62,0.000000,0.000000,0.000000,38.267086,43.258780,0.0,17.414688,1.059446
3733,9_63,0.079941,0.000000,0.000000,4.526719,15.395458,0.0,4.720812,0.039970

In [155]:
output_file_path = 'Data/land_cover/results/land_CLC.csv'
land_CLC_f.to_csv(output_file_path, index=False, encoding='utf-8')